{% if warning.isFlooding %}
  <div class="warning">
    <div class="container">
      <p>{{ 'floodWarning.preamble' | i18n }}</p>

      <p>{{ 'floodWarning.links' | i18n | safe }}
      </p>
      <p class="more-info">
        <a href="/overview/flood-message">{{ 'floodWarning.learnMore' | i18n }}</a>

      </div>
    </div>
  {% endif %}