{% if warning.isFlooding %}
  <div class="warning">
    <div class="container">
      <p>The Salinas River is at or approaching flood stage in at least one guage. Please stay clear of rising waters and stay safe.</p>

      <p>Check <a href="https://www.co.monterey.ca.us/government/departments-a-h/administrative-office/office-of-emergency-services/incidents">Monterey County</a> and <a href="https://www.prepareslo.org/">SLO County</a> emergency info</p>
      <p class="more-info">
        <a href="/overview/flood-message">Learn about this automated message</a>

      </div>
    </div>
  {% endif %}