<aside class="{%- if
  guages[guage].cfs >= flowLow and
  guages[guage].cfs <= flowHigh -%}good{%- endif -%}
  {%- if guages[guage].cfs < flowLow and
  guages[guage].cfs >= 0 -%}below{%- endif -%}
  {%- if guages[guage].cfs > flowHigh -%}above{%- endif -%}{%- if guages[guage].cfs < 0 -%}none{%-
  endif %} flow">
  <strong>Flow rate: </strong>{%- if guages[guage].cfs >= 0 -%}{{ guages[guage].cfs }}{%- else -%}0{%- endif %} 
  <abbr title="Cubic feet per second">CFS</abbr> —
  {% if
  guages[guage].cfs >= flowLow and
  guages[guage].cfs <= flowHigh %} Good flow rate{% endif %}
  {% if guages[guage].cfs < flowLow and
  guages[guage].cfs >= 0%} Below recommended flow rate{% endif %}
  {% if guages[guage].cfs > flowHigh %} Above recommended
  flow rate{% endif %}{% if guages[guage].cfs < 0%} No flow {%
  endif %}
  <small>
From the
    <a
      href="https://waterdata.usgs.gov/nwis/uv?site_no={{ guages[guage].id }}"
      target="_blank"
      rel="noreferrer"
      >{{ guages[guage].name }}</a
    >
    guage. Best flows are between {{ flowLow }} and {{ flowHigh }}
    CFS. Updated {% buildDate %}.
  </small>
</aside>