<footer>
  <div class="container">
    <p>
      {{ 'footer.by' | i18n | safe}}
    </p>
    <nav aria-label="Footer">
      <ul>
        <li>
          <a href="{{ '/legal' | locale_url}}">{{ 'footer.legal' | i18n }}</a>
        </li>
        <li>
          <a href="{{ '/legal/accessibility'| locale_url }}">{{ 'footer.accessibility' | i18n }}</a>
        </li>
        <li>
          <a href="mailto:hello@salinasriver.org">{{ 'footer.contact' | i18n }}</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>