<div>
  <dt>{{ 'bestFlow' | i18n }}</dt>
  <dd>
    {% if flowLow >= 0 %}{{ flowLow }}
    {% else %}0{% endif %} to {{ flowHigh }}
    <abbr title="{{ 'cubicFeetSecond' | i18n }}">{{ 'cfs' | i18n }}</abbr>
    {{ 'at' | i18n }}
    <a
        href="https://waterdata.usgs.gov/monitoring-location/{{ guages[guage].id }}"
        target="_blank"
        rel="noreferrer"
        >{{ guages[guage].label }}</a
      >
  </dd>
</div>
{% if tags == 'accessPoint' %}
  <div>
    <dt>{{ 'waterLevel' | i18n }}</dt>
    <dd>
      {% if guages[guage].cfs < 0 %} 0 {% else %}{{ guages[guage].cfs }}
      {% endif %}
      <abbr title="{{ 'cubicFeetSecond' | i18n }}">{{ 'cfs' | i18n }}</abbr> &amp;
        {% if guages[guage].height < 0 %} 0 {% else %}{{ guages[guage].height }}
      {% endif %}
      {{ 'feetDeep' | i18n }}
      <small class="flow-update">{{ 'updated' | i18n }}
        {% buildDate %}</small>
    </dd>
  </div>
{% endif %}
{% if tags == 'trips' %}
  <div>
    <dt>{{ 'currentFlow' | i18n }}</dt>
    <dd>
      {% if guages[guage].cfs < 0 %} 0 {% else %}{{ guages[guage].cfs }}
      {% endif %}
      <abbr title="{{ 'cubicFeetSecond' | i18n }}">{{ 'cfs' | i18n }}</abbr>
      {% if guages[guage].cfs >= flowLow and guages[guage].cfs <= flowHigh %}
        <span class="flow-inline good">{{ 'flow.good' | i18n }}</span>{% endif %}
      {% if
        guages[guage].cfs < flowLow and guages[guage].cfs >= 0%}
        <span
          class="flow-inline below"
          >{{ 'flow.below' | i18n }}</span
        >{% endif %}
      {% if guages[guage].cfs > flowHigh %}
        <span
          class="flow-inline above"
          >{{ 'flow.above' | i18n }}</span
        >{% endif %}
      {% if guages[guage].cfs < 0 and flowLow > 0%}
        <span
          class="flow-inline none"
          >{{ 'flow.none' | i18n }}</span
        >{% endif %}
      <small class="flow-update">{{ 'updated' | i18n }}
        {% buildDate %}</small>
    </dd>
  </div>
{% endif %}
{% if damRelease %}
  <div>
    <dt>{{ 'damRelease' | i18n }}</dt>
    <dd>{{ 'damReleaseMessage.preamble' | i18n}}
      <a href="/overview/dam-release">{{ 'damReleaseMessage.link' | i18n}}
      </a>.</dd>
  </div>
{% endif %}
{% if tresspass %}
  <div>
    <dt>{{ 'privateProperty' | i18n }}</dt>
    <dd>{{ 'privatePropertyMessage.text' | i18n }}
      <a href="/overview/private-property">{{ 'privatePropertyMessage.link' | i18n }}</a>.</dd>
  </div>
{% endif %}