.container {
  width: auto;
  margin: 0 1.5rem;
  @media (min-width: 850px) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.column-container {
  width: 100%;
  @media (min-width: 1150px) {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.columns {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  .main {
    box-sizing: border-box;
    width: 100%;
    margin: 0 1.5rem;
    @media (min-width: 1150px) {
      margin: 0;
      width: 33.33333333333333%;
      padding-right: 2rem;
    }
  }
  .sidebar {
    width: 100%;
    @media (min-width: 1150px) {
      width: 66.66666666666666%;
    }
  }
}

.hidden-lg {
  display: block;
  @media (min-width: 1150px) {
    display: none;
  }
}

.hidden-sm {
  display: none;
  @media (min-width: 1150px) {
    display: block;
  }
}

.homepage {
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.a11y-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.report-alert {
  padding: 1rem;
  background: $light-blue;
}
