dl[role='list'] {
  margin: 2rem 0 4rem 0;
  div {
    border-bottom: 1px solid $border-grey;
    padding: 1rem 0;
    display: flex;
    flex-wrap: nowrap;
  }
  dt {
    width: 30%;
    font-weight: bold;
  }
  dd {
    width: 70%;
    padding: 0;
    margin: 0;
    ul {
      margin: 0;
    }
  }
}
