table {
  border-collapse: collapse;
  margin: 0 auto;
  tr {
    border-bottom: 1px solid $border-grey;
  }
  td,
  th {
    padding: 0.5rem 2rem;
  }
  th {
    text-align: left;
  }
}

p.cite {
  font-size: 0.8rem;
  margin-top: 0;
}
