$border-grey: #c3c3c3;
$link-color: #055ae3;

$light-blue: #bde2e8;
$light-blue-border: #adbeff;

$good-dark: #cafdcb;
$good-light: #cafdcb;

$danger-light: #ebc1bb;
$danger-dark: #eb8894;
$danger-link: #893841;
