.flow,
.flow-inline {
  &.flow-inline {
    display: inline-block;
    padding: 0.25rem;
    margin-left: 1rem;
  }
  padding: 1rem;
  background: $light-blue;
  border: 1px solid $light-blue-border;
  &.good {
    background: $good-light;
    border-color: $good-dark;
  }

  &.above {
    background: $danger-light;
    border-color: $danger-dark;
  }
}

small.flow-update {
  display: block;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
