footer {
  margin-top: 3rem;
  border-top: 3px solid black;
  padding: 3rem 0;
  p {
    margin-top: 0;
  }
  nav {
    ul {
      padding: 0;
      margin-top: 2rem;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 2rem;
      }
    }
  }
}
