form.newsletter-form {
  margin: 0 auto;
  display: block;
  padding: 2rem;
  background: $light-blue;
  @media (min-width: 650px) {
    width: 500px;
  }
  input[type='text'],
  input[type='email'] {
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    padding: 0.8rem;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
  label {
    display: block;
    font-weight: bold;
  }
  .hidden {
    position: absolute;
    left: -50000px;
  }
  button[type='submit'] {
    color: white;
    background: $link-color;
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
}
