.nav-list {
  padding: 2rem;
  background: $light-blue;
  margin-bottom: 3rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    li {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      a,
      a:visited {
        color: black;
      }
      ul {
        padding-left: 2rem;
        margin: 1rem 0;
      }
    }
  }
}
