.news-callout {
  padding: 1rem 2rem;
  background: $callout-light;
  p {
    margin: 0;
  }
  img {
    width: 100%;
  }
  a {
    color: $callout-dark;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}
