<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link rel="dns-prefetch" href="https://server.arcgisonline.com"/>
    <link rel="dns-prefetch" href="https://cartodb-basemaps-a.global.ssl.fastly.net"/>
    <link rel="dns-prefetch" href="https://cartodb-basemaps-b.global.ssl.fastly.net"/>
    <link rel="dns-prefetch" href="https://cartodb-basemaps-c.global.ssl.fastly.net"/>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com"/>

    {% if metaDescription %}
      <meta name="description" content="{{metaDescription}}"/>
    {% endif %}

  {% if lat %}
    <meta name="geo.position" content="{{lat}}; {{lon}}">
    <meta name="geo.placename" content="{{title}}">
    <meta name="geo.region" content="CA">
    {% endif %}
    <link
      rel="stylesheet"
      href="/assets/js/leaflet/leaflet.css"
    />
  </head>
  <body>
    {{ content | safe }}
    {% if addAccessPoints %}
      <script>window._accessPoints = {{ collections.accessPoint | accessPointsJson | safe}}</script>
    {% endif %}

    {% if addTrips %}
      <script>window._trips = {{ collections.trips | tripsJson | safe}}</script>
    {% endif %}
    {% if scripts %}
      {% for script in scripts %}
        <script src="{{script}}"></script>
      {% endfor %}
    {% endif %}
    <script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Y0B7DBYW3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5Y0B7DBYW3');
    </script>
  </body>
</html>
