---
layout: layouts/base.njk
---

<header>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/">Salinas River</a></li>
        <li><a href="/access-points">Access points</a></li>
        <li><a href="/trips">Trips</a></li>
        <li><a href="/info/safety">Safety</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <section>{{ content | safe }}</section>
</div>
<footer>
  <div class="container">
    By <a href="https://kevee.net">Kevin Miller</a>. All content is offered
    under
    <a href="https://creativecommons.org/licenses/by-nc/4.0/">
      Creative Commons BY-NC 4.0</a
    >.
  </div>
</footer>