---
layout: layouts/base.njk
---

<header>
  <div class="container">
    <nav aria-label="Main navigation">
      <ul>
        <li><a href="/">The Salinas River</a></li>
        <li><a href="/access-points">Access points</a></li>
        <li><a href="/trips">Trips</a></li>
        <li><a href="/overview">Overview</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  {% if breadcrumbs %}
    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol>
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{breadcrumb.link}}">{{breadcrumb.name}}</a></li>
        {% endfor %}
        <li><a href="#" aria-current="page">{{ title }}</a></li>
      </ol>
    </nav>
  {% endif %}
  <section>{{ content | safe }}</section>
</div>
{% include 'footer.njk' %}