---
layout: layouts/base.njk
---

<header>
  <div class="container">
    <nav aria-label="Main navigation">
      <ul>
        <li><a href="/">The Salinas River</a></li>
        <li><a href="/access-points">Access points</a></li>
        <li><a href="/trips">Trips</a></li>
        <li><a href="/info/safety">Safety</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <section>{{ content | safe }}</section>
</div>
{% include 'footer.njk' %}