---
layout: layouts/base.njk
---
<main class="homepage">
  <div class="column-container">
    <div class="columns">
      <div class="main">{{ content | safe}}</div>
      <div class="sidebar">
      <div class="map">
        <div id="map"></div>
          <div class="key">
            <p><span class="spot"></span>Access point</p>
            <p><span class="spot trip"></span>Trip</p>
          <div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    By <a href="https://kevee.net">Kevin Miller</a>. All content is offered
    under
    <a href="https://creativecommons.org/licenses/by-nc/4.0/">
      Creative Commons BY-NC 4.0</a
    >.
  </div>
</footer>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  window._accessPoints = {{ collections.accessPoint | accessPointsJson | safe}}
  window._trips = {{ collections.trips | tripsJson | safe}}
</script>
<script src="/assets/js/home.js"></script>
