---
layout: layouts/default.njk
---

<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/trips">Trips</a></li>
    <li><a href="#" aria-current="page">{{ title }}</a></li>
  </ol>
</nav>

<h1>{{ title }}</h1>

<p><strong>Length:</strong> {{ length }}</p>
<p><strong>Time:</strong> {{ time }}</p>

{{ content | safe}}

{% include 'flow.njk' %}


<h3>Set-up &amp; gear</h3>

{{ setUp | markdown | safe }}

{{ gear | markdown | safe }}

<div class="map">
  <div id="map"></div>
</div>



{%- for part in parts -%}
  <h4 id="{{ part.id }}">{{part.title}}</h4>
  {{part.description | markdown | safe }}
  {% if part.driving %}
    <p>
  <a
    href="https://www.google.com/maps/dir/{{ part.lat }},{{ part.lon }}"
    target="_blank"
    rel="noreferrer"
    >Driving directions</a
  >
</p>
  {% endif %}
{%- endfor -%}
  


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  window._tripRoute = {{ route | json | safe }}
  window._tripParts = {{ parts | json | safe }}
</script>
<script src="/assets/js/trip.js"></script>