---
layout: layouts/default.njk
scripts: 
  - /assets/js/leaflet/leaflet.js
  - /assets/js/trip.js
---

<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/trips">Trips</a></li>
    <li>
      <a href="#" aria-current="page">{{ title }}</a>
    </li>
  </ol>
</nav>

<h1>{{ title }}</h1>

<dl role="list">
  <div>
    <dt>Length</dt>
    <dd>{{ length }}</dd>
  </div>
  <div>
    <dt>Time</dt>
    <dd>{{ time }}</dd>
  </div>
  {% include 'overview.njk' %}
  {% if gear %}
  <div>
    <dt>Gear</dt>
    <dd>
      <ul>
        {% for gearItem in gear %}
        <li>{{ gearItem }}</li>
        {% endfor %}
      </ul>
    </dd>
  </div>
  {% endif %}
</dl>

{{ content | safe }}

{% if safety %}
{{ safety | markdown | safe }}
{% endif %}


<div class="map medium">
  <div id="map"></div>
</div>

<h3>Set-up</h3>

{{ setUp | markdown | safe }}

<section class="trip-parts">
  <h2>Description</h2>
  {%- for part in parts -%}
  <div class="trip-part">
    <div>
      <h3 id="{{ part.id }}">{{ part.title }}</h3>

      <p class="mile"><strong>Distance:</strong> {{ part.mile }} miles</p>

      {{ part.description | markdown | safe }}
      {% if part.driving %}

      <p>
        <a
          href="https://www.google.com/maps/dir/{{ part.lat }},{{ part.lon }}"
          target="_blank"
          rel="noreferrer"
          >Driving directions</a
        >
      </p>
      {% endif %}
      </div>

      <img src="/assets/images/static-maps/{{ page.fileSlug }}--{{ part.id }}.jpg" alt=""/>
  </div>
  {%- endfor -%}
</section>

<script>
  window._tripRoute = {{ route | json | safe }}
  window._tripParts = {{ parts | json | safe }}
</script>
