---
layout: layouts/default.njk
scripts: 
  - /assets/js/leaflet/leaflet.js
  - /assets/js/trip.js
---

<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ol>
    <li>
      <a href="{{ '/' | locale_url }}">{{ 'home' | i18n }}</a>
    </li>
    <li>
      <a href="{{ '/trips' | locale_url }}">{{ 'trips' | i18n }}</a>
    </li>
    <li>
      <a href="#" aria-current="page">{{ title }}</a>
    </li>
  </ol>
</nav>

<h1>{{ title }}</h1>

{% if alert %}
  <div class="alert" role="alert">
    {{ alert | markdown | safe}}
  </div>
{% endif %}

<dl role="list">
  <div>
    <dt>{{'length' | i18n}}</dt>
    <dd>{{ length }}</dd>
  </div>
  <div>
    <dt>{{ 'time' | i18n }}</dt>
    <dd>{{ time }}</dd>
  </div>
  {% if windAlert %}
    <div>
      <dt>{{ 'windAlert.label' | i18n }}</dt>

      <dd>{{ 'windAlert.warning' | i18n }}</dd>
    </div>
  {% endif %}
  <div>
    <dt>{{ 'accessPoints' | i18n }}</dt>
    <dd>
      {%for point in tripAccessPoints %}
        <span class="trip-access-point">
          {% if point.putIn and point.takeOut%}
            {{ 'putInTakeOut' | i18n}}
          {% else %}
            {% if point.putIn %}{{ 'putIn' | i18n }}:{%endif %}
            {% if point.takeOut %}{{ 'takeOut' | i18n }}:{%endif%}
            {% endif %}
            {% for accessPoint in collections.accessPoint %}
              {% if accessPoint.fileSlug == point.id %}
                {% if accessPoint.page.lang == page.lang %}
                  <a href="/{{ page.lang }}/access-points/{{ point.id }}">

                    {{ accessPoint.data.title }}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </span>
        {% endfor %}
      </dd>
    </div>

    {% set guage = trips[page.fileSlug].guage %}
    {% set tresspass = trips[page.fileSlug].tresspass %}
    {% set flowLow = trips[page.fileSlug].flowLow %}
    {% set flowHigh = trips[page.fileSlug].flowHigh %}
    {% include 'overview.njk' %}
    {% if gear %}
      <div>
        <dt>{{ 'gear' | i18n }}</dt>
        <dd>
          <ul>
            {% for gearItem in gear %}
              <li>{{ gearItem }}</li>
            {% endfor %}
          </ul>
        </dd>
      </div>
    {% endif %}
  </dl>
  <div class="report-alert">
    {{ 'protectRights.preamble' | i18n }} &nbsp;<a href="{{ "/report" | locale_url }}">{{ 'protectRights.linkTrip' | i18n }}</a>
  </div>

  {{ content | safe }}

  {% if safety %}
    {{ safety | markdown | safe }}
  {% endif %}

  <div class="map medium">
    <div id="map"></div>
  </div>

  <h3>{{ 'setUp' | i18n }}</h3>

  {{ setUp | markdown | safe }}

  <section class="trip-parts">
    <h2>{{ 'description' | i18n }}</h2>
    {%- for part in parts -%}
      <div class="trip-part">
        <div>
          <h3 id="{{ part.id }}">{{ part.title }}</h3>

          <p class="mile">
            <strong>{{ 'distance' | i18n }}:</strong>
            {{ part.mile }}
            {{'miles' | i18n}}<br/>
            {% if part.driving %}

              <a
          href="{{ "https://www.google.com/maps/dir/{{ part.lat }},{{ part.lon }}" | locale_url }}"
          target="_blank"
          rel="noreferrer"
          >{{ 'drivingDirections' | i18n}}</a
        >
            {% endif %}
          </p>

          {{ part.description | markdown | safe }}

        </div>

        <img src="/assets/images/static-maps/{{ page.fileSlug }}--{{ part.id }}.jpg" alt=""/>
      </div>
    {%- endfor -%}
  </section>

  <script>
    window._tripRoute = {{ trips[page.fileSlug].route | json | safe }}
    window._tripParts = {{ parts | json | safe }}
  </script>