---
title: News
layout: layouts/default.njk

breadcrumbs:
  - name: Home
    link: /
---

<h1>News</h1>

The latest updates on the Salinas River.

{% for post in collections.newsEn | reverse %}
  <article>
    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    <p>{{ post.data.description }}</p>
  </article>
{% endfor %}